.container {
    position: relative;
     width: 100%;
     height:800;
     padding-bottom: 56.25%;
     position: absolute;
 }

 v-main{
     padding-bottom: 0px;
     padding-top: 0px;
 }
 iframe{
     border-style: none;
     display: block;
 }